

.app-icon.app-icon-large {
	overflow: hidden;
	aspect-ratio: 5 / 8;
	background: white;
	height: 100%;
	--transform: skewX(-10deg);
	--reverse-transform: skewX(10deg);
}

.app-icon.app-icon-large .app-icon-inner {
	transform: translate(-50%, -50%) var(--reverse-transform);
	position: absolute;
	width: 140%;
	height: 100%;
	left: 50%;
	top: 50%;
}
