
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.background-shader {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: none;
	animation: fadeIn 2s ease-in-out;
}

.background-shader.loaded {
	display: block;
}
