.browser-app {
	display: flex;
	flex-direction: column;
}

.browser-app-nav-bar {
	display: flex;
	height: 12vh;
	padding: 2vmin;
	gap: 2vmin;
}

.browser-app-nav-bar > * {
	border-radius: 100vmin;
	background: #fff2;
	height: 100%;
}

.browser-app-nav-bar-button {
	aspect-ratio: 1 / 1;
}

.browser-app-url-bar {
	width: 100%;
	height: 100%;
}

.browser-app webview {
	width: 100%;
	height: 100%;
}