@import url("../node_modules/@fontsource/dm-sans/latin.css");
@import url("../node_modules/@fontsource/dm-sans/latin-italic.css");
@import url("../node_modules/@fontsource/dm-sans/latin-ext.css");
@import url("../node_modules/@fontsource/dm-sans/latin-ext-italic.css");

body, #root {
	position: fixed;
	inset: 0;
	font-size: 2.3vmin;
	font-family: "DM Sans", Helvetica, Arial, sans-serif;
}

body {
	user-select: none;
	font-family: arial;
	color: white;
}

input {
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
	color: inherit;
	background: transparent;
	border: none;
	text-shadow: inherit;
}
