
.app-icon {
	--transform: translate(0px,0px); /* This is only here to prevent errors when the variable is used */
	transform: var(--transform);
	transition: 0.1s ease-in-out;
	transition-property: transform, opacity;
	box-sizing: border-box;
	filter: drop-shadow(0 1vmin 2vmin #000);
}

.app-icon[hover] {
	transform: var(--transform) scale(1.05);
}
.app-icon[active] {
	transform: var(--transform) scale(1.02);
}

.app-icon-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.app-icon-foreground, .app-icon-background {
	z-index: 1000;
	position: absolute;
}
.app-icon-foreground {
	z-index: 1500;
}