.home {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	transition: 0.1s ease-in-out;
	transition-property: opacity, transform;
}
.home:not(.available-layer) {
	opacity: 0;
	transform: scale(1.02);
}
.home-header {
	height: 16vmin;
	height: 16vmin;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 3vmin;
}
.home-applications-list {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: 8vmin 16vmin;
	gap: 4vmin;
	overflow: hidden;
}
.home-header-user {
	padding: 2vmin;
	font-size: 3.2vmin;
	border-radius: 10vmin;
}
.home-header-user[hover] {
	background: #fff2;
}
.home-header-user[active] {
	background: #fff1;
}

.home-applications-list > * {
	flex: none;
}