.home {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
}
.home-header {
	height: 16vmin;
}
.home-applications-list {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: 4vmin 16vmin;
	gap: 4vmin;
	overflow: hidden;
}

.home-applications-list > * {
	flex: none;
}