
.visual-overlay {
	background-color: #0008;
	transition: 0.2s ease-in-out;
	transition-property: background-color, opacity;
	backdrop-filter: blur(0.2vmin);
}
@starting-style {
	.visual-overlay {
		background-color: transparent;
		opacity: 0;
	}
}

.visual-overlay.disappear-animation {
	background-color: transparent;
	opacity: 0;
}