
.videos-app-main-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.videos-app-source-tabbed-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.videos-app-source-tabbed-container .base-sidebar {
	padding-top: 0;
	padding-right: 0;
	width: 12vmin;
}

.videos-app-source-tabbed-container > .tabbed-container > .base-tabbed > .base-tabbed-tab,
.videos-app-history-tab {
	padding: 2vmin;
	box-sizing: border-box;
	overflow: hidden;
}
.videos-app-source-tabbed-container > .tabbed-container > .base-tabbed > .base-tabbed-tab {
	padding-left: 4vmin;
}
.videos-app-header > * > * {
	height: 100%;
	box-sizing: border-box;
}

.videos-app-video-grid {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	min-width: 100%;
	min-height: 20vmin;
	padding-bottom: 2vmin;
}
.videos-app-video-grid:before {
	font-family: bootstrap-icons;
	font-size: 10vmin;
	content: "\F116";
	animation: spin 2s linear infinite;
	position: absolute;
	width: 100%;
	height: 20vmin;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.videos-app-video-grid-is-loading:before {
	opacity: 1;
}

.videos-app-search-bar {
	width: 100%;
}

.videos-app-video {
	display: flex;
	flex-direction: column;
	padding: 2vmin;
	border-radius: 2vmin;
	align-items: flex-start;
	justify-content: flex-start;
	overflow: hidden;
	transition: 0.2s ease-in-out;
	transition-property: transform, opacity, filter;
}
@starting-style {
	.videos-app-video {
		transform: translateY(4vmin);
		opacity: 0;
		filter: blur(0.2vmin);
	}
}

.videos-app-video-thumbnail {
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	aspect-ratio: 16 / 9;
	border-radius: 2vmin;
	position: relative;
}

.videos-app-video-duration {
	position: absolute;
	right: 0;
	bottom: 0;
	background: #000c;
	padding: 0.2vmin 0.5vmin;
	border-radius: 0.8vmin;
	margin: 1vmin;
	font-size: 0.5em;
}

.videos-app-video-title, .videos-app-video-author-name {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 0.6em;
	padding: 0.2vmin;
	word-break: break-word;
}
.videos-app-video-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
.videos-app-video-author-name {
	color: gray;
	white-space: nowrap;
}

.videos-app-video-details {
	padding-top: 0.2vmin;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}