
.options-list-option {
	display: flex;
	justify-content: space-between;
	padding: 2vmin;
}

.options-list-option:has(+ .options-list-option) {
	border-bottom: 0.5vmin solid #fff2;
}

.options-list-option-details {
	display: flex;
	flex-direction: column;
}
.options-list-option-description {
	color: #fff8;
}