
.keyboard-default {
	width: 80vw;
	aspect-ratio: 11 / 4;
	--keyboard-accent-color: 270deg;
	background: radial-gradient(hsl(var(--keyboard-accent-color) 43% 63%), hsl(var(--keyboard-accent-color) 43% 23%));
	border-radius: 2vmin;
	text-shadow: 0 0.2vmin 0.2vmin #0008;
	border: 0.5vmin solid #fff2;
	--key-margin: 0.2vmin;
	--key-border: 0.2vmin solid #0004;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 2vmin;
}

.keyboard-default-prompt {
	flex: none;
	height: 40%;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	font-size: 1.3em;
	padding: 2vmin;
	align-items: flex-end;
}

.keyboard-default-row {
	display: flex;
	width: 100%;
	height: 100%;
}

.keyboard-default-input,
.keyboard-default-key,
.keyboard-default-key-side {
	padding: 1.2vmin;
	background: linear-gradient(to bottom,
		hsl(var(--keyboard-accent-color), 20%, 70%) 0%,
		hsl(var(--keyboard-accent-color), 20%, 60%) 10%,
		hsl(var(--keyboard-accent-color), 20%, 50%) 100%
	);
	background-size: 100% 100%;
	box-shadow: 0 0.2vmin 1vmin #0008;
	border-radius: 1vmin;
	box-sizing: border-box;
	margin: var(--key-margin);
	transition: 0.1s ease-in-out;
	transition-property: transform, filter, z-index;
	z-index: 0;
}

.keyboard-default-key {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.keyboard-default-key-main {
	width: 100%;
}
.keyboard-default-key-side {
	height: 100%;
}
.keyboard-default-key-bottom {
	width: 100%;
}

.keyboard-default-key[hover] {
	filter: brightness(1.2);
	transform: scale(1.3);
	z-index: 100;
}
.keyboard-default-key[active] {
	filter: brightness(0.5);
	transform: scale(1.1) translateY(0.2vmin);
}

.keyboard-default-areas {
	display: grid;
	grid-template-areas: "left middle right"
						 "left bottom right";
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 3fr 1fr;
	box-sizing: border-box;
	margin-top: 1vmin;
}
.keyboard-default-area-rows {
	grid-area: middle;
	display: flex;
	flex-direction: column;
}

.keyboard-default-area-left {
	grid-area: left;
}
.keyboard-default-area-right {
	grid-area: right;
}
.keyboard-default-area-left, .keyboard-default-area-right {
	display: flex;
	flex-direction: column;
}

.keyboard-default-area-bottom {
	grid-area: bottom;
	display: flex;
	align-items: flex-end;
}
